<!DOCTYPE html>
<html lang="pt-br">

<head>
    
    <meta charset="UTF-8">
    <title>SoulCode Pages</title>
    

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor.css">
  

    <!-- Scripts -->
    <script src="js/modernizr.js"></script>

    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon.png">

</head>

<body>

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="/">
                        <img src="images/logo.png" alt="Homepage">
                    </a>
                </div>
            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li class="current"><a href="/" title="">Página Inicial</a></li>
                    <li class="has-children">
                        <a href="#0" title="">Categorias</a>
                        <ul class="sub-menu">
                            <li><a href="noticia/20"> Tecnologia</a></li>
                            <li><a href="/noticias/22">Saúde</a></li>
                            <li><a href="/noticias/21">Esportes</a></li>
                           
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#0" title="">Perfil</a>
                        <ul class="sub-menu">
                            <li><a href="/clientes">Clientes</a></li>
                            <li><a href="/noticias">Notícias</a></li>
                            <li><a href="/usuarios">Usuarios</a></li>
                          
                        </ul>
                    </li>
                  
                    <li><a href="/contato" title="">Contato</a></li>
                </ul> <!-- end header__nav -->

            

            </nav> <!-- end header__nav-wrap -->

            <!-- menu toggle -->
            <a href="#0" class="header__menu-toggle">
                <span>Menu</span>
            </a>

        </header> <!-- end s-header -->


        

        </div> end s-search


        <!-- site content
        ================================================== -->
        <div class="s-content">

            <div class="masonry-wrap">

                <div class="masonry">

                    <div class="grid-sizer"></div>

                    <article class="masonry__brick entry format-standard animate-this">

                        <div class="entry__thumb">

                          
                            <a href="/noticias/23" class="entry__thumb-link">
                                <img src="https://yourartempire.com/wp-content/uploads/2021/05/michal-matlon-H8nxvtKbzdA-unsplash.jpg"  alt="Xicara de café quente">
                            </a>
                        </div>

                        <div class="entry__text">
                            <div class="entry__header">

                                <h2 class="entry__title"><a href="/noticias/23">Arte Contemporânea em Exposição</a></h2>
                                <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="#">Arte</a>
                                        <a href="#">Exposição, Arte Contemporânea</a>
                                    </span>
                                    <span class="entry__meta-date">
                                        <a href="/noticias/23">02/01/24</a>
                                    </span>
                                </div>

                            </div>
                            <div class="entry__excerpt">
                                <p> Galerias de arte de todo o mundo apresentam obras impactantes de artistas contemporâneos.</p>
                            </div>
                        </div>

                    </article> <!-- end article -->

                    <article class="masonry__brick entry format-standard animate-this">

                        <div class="entry__thumb">
                            <a href="noticia/20" class="entry__thumb-link">
                                <img src="images/thumbs/masonry/tecnologia.jpg" alt="ChatGpTreco.">
                            </a>
                        </div>

                        <div class="entry__text">
                            <div class="entry__header">
                                <h2 class="entry__title"><a href="/noticia/2">Tecnologia do Futuro e seus novos aspectos </a></h2>
                                <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="#">Tecnologia </a>
                                        <a href="#">Inovação, Gadgets</a>
                                    </span>
                                    <span class="entry__meta-date">
                                        <a href="noticia/20">02/01/24</a>
                                    </span>
                                </div>
                            </div>
                            <div class="entry__excerpt">
                                <p> Um Texto que retrata sobre o ChatGpt e novas funções com IA.  </p>
                            </div>
                        </div>

                    </article> <!-- end article -->


                    <article class="masonry__brick entry format-standard animate-this">

                        <div class="entry__thumb">
                            <a href="/noticias/22" class="entry__thumb-link">
                                <img src="images/thumbs/masonry/medicina.jpg"  alt="">
                            </a>
                        </div>

                        <div class="entry__text">
                            <div class="entry__header">
                                <h2 class="entry__title"><a href="/noticias/22">Novos Avanços na Medicina
                                    </a></h2>
                                <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="#">Saúde</a>
                                        <a href="#">Medicina, Pesquisa</a>
                                    </span>
                                    <span class="entry__meta-date">
                                        <a href="/noticias/22">02/01/2024</a>
                                    </span>
                                </div>
                            </div>
                            <div class="entry__excerpt">
                                <p> Pesquisadores desenvolvem tratamento inovador para doenças até então consideradas incuráveis.     </p>
                            </div>
                        </div>

                    </article> <!-- end article -->

                  
                    <article class="masonry__brick entry format-standard animate-this">

                        <div class="entry__thumb">
                            <a href="/noticias/21" class="entry__thumb-link">
                                <img src="images/thumbs/masonry/radical.jpg"  alt="Um homem voando com uma Moto">
                            </a>
                        </div>

                        <div class="entry__text">
                            <div class="entry__header">
                                <h2 class="entry__title"><a href="/noticias/21">Esportes Radicais
                                    </a></h2>
                                <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="#">Esportes</a>
                                        <a href="#">Aventura, Competições</a>
                                    </span>
                                    <span class="entry__meta-date">
                                        <a href="/noticias/21">02/01/2024</a>
                                    </span>
                                </div>
                            </div>
                            <div class="entry__excerpt">
                                <p> Atletas extremos conquistam novos recordes em competições de esportes radicais pelo mundo.      </p>
                            </div>
                        </div>

                    </article> <!-- end article -->
                    
                   

                    

                </div> <!-- end masonry -->

            </div> <!-- end masonry-wrap -->

            <div class="row">
                <div class="column large-full">
                    <nav class="pgn">
                        <ul>
                            <li><a class="pgn__prev" href="#0">Prev</a></li>
                            <li><a class="pgn__num" href="#0">1</a></li>
                            <li><span class="pgn__num current">2</span></li>
                            <li><a class="pgn__num" href="#0">3</a></li>
                            <li><a class="pgn__num" href="#0">4</a></li>
                            <li><a class="pgn__num" href="#0">5</a></li>
                            <li><span class="pgn__num dots">…</span></li>
                            <li><a class="pgn__num" href="#0">8</a></li>
                            <li><a class="pgn__next" href="#0">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div> <!-- end s-content -->



        <!-- footer
        ================================================== -->
        <footer class="s-footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>© Copyright SoulCode - Bootcamp PreparaTech 2024</span>
                    </div>
                </div>
            </div>

          

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </footer>

    </div> <!-- end s-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>