<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todas as Noticias</title>
</head>

<body>
  <h1>Noticias</h1>
  <a href="/">Home</a>

  <table>
    <tr>
      <th>Titulo</th>
      <th>Conteudo</th>
      <th>Data de Publicação</th>
      <th>Categoria</th>
      <th>Topico</th>
      <th>Url imagem

      </th>
    </tr>
    <tbody>
      <tr th:each="noticia : ${news}">
        <td>
          <a th:href="'/noticias/' + ${noticia.id}" th:text="${noticia.titulo}"></a>
        </td>
        <td th:text="${noticia.conteudo}"></td>
        <td th:text="${noticia.dataPublicacao}"></td>
        <td th:text="${noticia.categoria}"></td>
        <td th:text="${noticia.topico}"></td>
        <td th:text="${noticia.url_imagem}"></td>
        <td>
          <form action="/noticias/delete" method="post">
            <input type="hidden" name="id" th:value="${noticia.id}">
            <button>Excluir</button>
          </form>
        </td>
        <td>
          <a th:href="'/noticias/' + ${noticia.id} + '/edit'">
            <button>Editar</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Nova Notícia</h2>
  <form action="/noticias" method="post" th:object="${noticia}">
    <label for="titulo">Titulo:</label>
    <input type="text" name="titulo" id="titulo" required>

    <label for="" conteudo"">Conteudo:</label>
    <input type="text" name="conteudo" id="conteudo" required>

    <label for="dataPublicacao">Data de Publicação:</label>
    <input type="date" name="dataPublicacao" id="dataPublicacao" required>

    <label for="categoria">Categoria:</label>
    <input type="text" name="categoria" id="categoria" required>

    <label for="topico">Topico:</label>
    <input type="text" name="topico" id="topico" required>

    <label for="url_imagem">Url da imagem:</label>
    <input type="text" name="url_imagem" id="url_imagem" required>

    <button>Enviar</button>
  </form>

</html>